<style>
    #rich_box {
        height: 65vh !important;
        margin-bottom: var(--spaceSM);
    }
</style>

<%= form_with model: @diary do |form| %>
    <label>Diary Title</label>
    <%= form.text_field :diary_title, class: 'form-control mb-2' %>

    <label>Description</label>
    <div id="rich_box"></div>
    <%= form.text_field :diary_desc, id: 'diary_desc', hidden: true %>

    <div class="form-group">
        <%= form.label :diary_date, "Date" %>
        <%= form.date_field :diary_date, class: "form-control mb-2", id: "diary_date", required: true %>
    </div>

    <div class="row mb-2">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <%= form.label :diary_mood, "How happy your mood this day?" %><br>
            <%= form.range_field :diary_mood, min: 1, max: 10 %><br>
            <span>Min (1) and Max (10)</span>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <%= form.label :diary_tired, "How tired your body this day?" %><br>
            <%= form.range_field :diary_tired, min: 1, max: 10 %><br>
            <span>Min (1) and Max (10)</span>
        </div>
    </div>
    <%= form.submit "Post Diary", onclick:"getRichText()", class: "btn btn-success w-100 py-3 my-3" %>
<% end %>

<script>
    let desc = document.getElementById("diary_desc")

    const deleteAfterCharacter = (str, character) => {
        let index = str.indexOf(character)
        if (index !== -1) {
            return str.slice(0, index)
        } else {
            return str
        }
    }

    const splitOutRichTag = (text) => {
        var res = text.replace('<div class="ql-editor" data-gramm="false" contenteditable="true">','')
            .replace('<div class="ql-editor ql-blank" data-gramm="false" contenteditable="true">','')
            .replace('<div class="ql-editor" data-gramm="false" contenteditable="true" data-dl-input-translation="true">','')
            .replace('<div class="ql-editor ql-blank" data-gramm="false" contenteditable="true" data-dl-input-translation="true">','')
            .replace('</div><div class="ql-clipboard" contenteditable="true" tabindex="-1"></div><div class="ql-tooltip ql-hidden"><a class="ql-preview" target="_blank" href="about:blank"></a><input type="text" data-formula="e=mc^2" data-link="https://quilljs.com" data-video="Embed URL"><a class="ql-action"></a><a class="ql-remove"></a></div>','')
            .replace('<deepl-inline-translate style="z-index: 1999999999;"></deepl-inline-translate>','')
        return res
    }

    const getRichText = () => {
        let rawText = document.getElementById("rich_box").innerHTML
        let cleanText = splitOutRichTag(rawText)
        let characterToDeleteAfter = "</div>"
        let modifiedString = deleteAfterCharacter(cleanText, characterToDeleteAfter)
        desc.value = modifiedString
    }
</script>

<!-- Main Quill library -->
<script>
    let quill = new Quill('#rich_box', {
        theme: 'snow'
    });
</script>